/* Blur backgrounds */
.bg-overlay-blur {
  background-color: color-mix(in oklch, var(--overlay), transparent 50%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-background-blur {
  background-color: color-mix(in oklch, var(--background), transparent 50%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-card-blur {
  background-color: color-mix(in oklch, var(--card), transparent 50%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.bg-muted-blur {
  background-color: color-mix(in oklch, var(--muted), transparent 40%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-popover-blur {
  background-color: color-mix(in oklch, var(--popover), transparent 50%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-sidebar-blur {
  background-color: color-mix(in oklch, var(--sidebar), transparent 50%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
