/*
  =============================================================
   LIGHT THEME
  ============================================================= 
  */
:root {
  /* ------Semantic background / surfaces------ */
  --background: oklch(98.7% 0 0);
  --foreground: oklch(30% 0 0);
  --popover: oklch(99.7% 0 0);
  --card: oklch(95.7% 0 0);
  --sidebar: oklch(96.7% 0 0);
  --muted: oklch(92.7% 0 0);
  --accent: oklch(93.7% 0 0);
  --muted-foreground: oklch(42% 0 0);
  --subtle-foreground: oklch(55% 0 0);

  /* ------Core UI tokens------ */
  --border: oklch(90.7% 0 0);
  --input: oklch(97.7% 0 0);
  --ring: oklch(55% 0.1632 253.6);

  /* ------Functional colors------ */
  /*
  ====================================
    PRIMARY - CTA ACTIONS (neutral by design) - light
  ==================================== 
  /* SOLID/FILLED variant */
  --primary: oklch(34% 0 0);
  /* --primary: oklch(30% 0 0); */
  --primary-foreground: oklch(98.81% 0 0);
  --primary-hover: oklch(37% 0 0);
  /* SUBTLE/SURFACE variant */
  --primary-soft: oklch(93.7% 0 0);
  --primary-soft-foreground: oklch(30% 0 0);
  --primary-soft-hover: oklch(90.7% 0 0);
  /* STANDALONE TEXT/LINKS */
  --primary-text: oklch(30% 0 0);
  --primary-text-hover: oklch(37% 0 0);

  /*
  ====================================
    BRAND – IDENTITY & AFFORDANCE (not CTAs) - light
  ==================================== 
  /* SOLID/FILLED variant */
  --brand: oklch(48.97% 0.167 282.84);
  --brand-hover: oklch(43% 0.175 282.84);
  --brand-foreground: oklch(98% 0.01 282.84);
  /* SUBTLE/SURFACE variant */
  --brand-soft: oklch(94.5% 0.035 282.84);
  --brand-soft-hover: oklch(91% 0.05 282.84);
  --brand-soft-foreground: oklch(38% 0.19 282.84);
  /* STANDALONE TEXT/LINKS */
  --brand-text: oklch(43% 0.18 282.84);
  --brand-text-hover: oklch(36% 0.19 282.84);

  /*
  ====================================
    INFO - INFORMATIONAL MESSAGES - light
  ==================================== 
  /* SOLID/FILLED variant */
  --info: oklch(55% 0.15 250);
  --info-hover: oklch(50% 0.16 250);
  --info-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --info-soft: oklch(94% 0.04 250);
  --info-soft-hover: oklch(88% 0.06 250);
  --info-soft-foreground: oklch(45% 0.14 250);
  /* STANDALONE TEXT/LINKS */
  --info-text: oklch(50% 0.15 250);
  --info-text-hover: oklch(45% 0.16 250);

  /*
  ====================================
    SUCCESS - POSITIVE MESSAGES - light
  ==================================== 
  /* SOLID/FILLED variant */
  --success: oklch(55% 0.15 145);
  --success-hover: oklch(50% 0.16 145);
  --success-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --success-soft: oklch(94% 0.04 145);
  --success-soft-hover: oklch(88% 0.06 145);
  --success-soft-foreground: oklch(45% 0.14 145);
  /* STANDALONE TEXT/LINKS */
  --success-text: oklch(50% 0.15 145);
  --success-text-hover: oklch(45% 0.16 145);

  /*
  ====================================
    WARNING - CAUTIONARY MESSAGES - light
  ==================================== 
  /* SOLID/FILLED variant */
  --warning: oklch(55% 0.15 85);
  --warning-hover: oklch(50% 0.16 85);
  --warning-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --warning-soft: oklch(94% 0.04 85);
  --warning-soft-hover: oklch(88% 0.06 85);
  --warning-soft-foreground: oklch(45% 0.14 85);
  /* STANDALONE TEXT/LINKS */
  --warning-text: oklch(50% 0.15 85);
  --warning-text-hover: oklch(45% 0.16 85);

  /*
  ====================================
    DESTRUCTIVE - NEGATIVE MESSAGES - light
  ==================================== 
  */
  /* SOLID/FILLED variant */
  --destructive: oklch(55% 0.15 25);
  --destructive-hover: oklch(50% 0.16 25);
  --destructive-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --destructive-soft: oklch(94% 0.04 25);
  --destructive-soft-hover: oklch(88% 0.06 25);
  --destructive-soft-foreground: oklch(45% 0.14 25);
  /* STANDALONE TEXT/LINKS */
  --destructive-text: oklch(50% 0.15 25);
  --destructive-text-hover: oklch(45% 0.16 25);

  /*
  ====================================
    PURPLE - light
  ==================================== 
  */
  /* SOLID/FILLED variant */
  --purple: oklch(55% 0.15 290);
  --purple-hover: oklch(50% 0.16 290);
  --purple-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --purple-soft: oklch(94% 0.04 290);
  --purple-soft-hover: oklch(88% 0.06 290);
  --purple-soft-foreground: oklch(45% 0.14 290);
  /* STANDALONE TEXT/LINKS */
  --purple-text: oklch(50% 0.15 290);
  --purple-text-hover: oklch(45% 0.16 290);

  /* Overlay */
  --overlay: oklch(0% 0 0 / 0.75);

  /* Spacing, radius, shadows */
  --radius: 0.5rem;
  --tracking-normal: -0.025em;
  --spacing: 0.27rem;

  --shadow-2xs: 0px 1px 1px 0px oklch(0% 0 0 / 0.05);
  --shadow-xs: 0px 1px 1px 0px oklch(0% 0 0 / 0.05);
  --shadow-sm:
    0px 1px 1px 0px oklch(0% 0 0 / 0.1), 0px 1px 2px -1px oklch(0% 0 0 / 0.1);
  --shadow:
    0px 1px 1px 0px oklch(0% 0 0 / 0.1), 0px 1px 2px -1px oklch(0% 0 0 / 0.1);
  --shadow-md:
    0px 1px 1px 0px oklch(0% 0 0 / 0.1), 0px 2px 4px -1px oklch(0% 0 0 / 0.1);
  --shadow-lg:
    0px 1px 1px 0px oklch(0% 0 0 / 0.1), 0px 4px 6px -1px oklch(0% 0 0 / 0.1);
  --shadow-xl:
    0px 1px 1px 0px oklch(0% 0 0 / 0.1), 0px 8px 10px -1px oklch(0% 0 0 / 0.1);
  --shadow-2xl: 0px 1px 1px 0px oklch(0% 0 0 / 0.25);
}
/*
  =============================================================
   DARK THEME
  ============================================================= 
  */
.dark {
  /* ------Semantic background / surfaces------ */
  --background: oklch(22% 0 0);
  --foreground: oklch(94% 0 0);
  --popover: oklch(27% 0 0);
  --card: oklch(25% 0 0);
  --sidebar: oklch(27% 0 0);
  --muted: oklch(20% 0 0);
  --muted-foreground: oklch(78% 0 0);
  --subtle-foreground: oklch(65% 0 0);
  --accent: oklch(24% 0 0);

  /* ------Core UI tokens------ */
  --border: oklch(32% 0 0);
  --input: oklch(18% 0 0);
  --ring: oklch(66.97% 0.1459 250.92);

  /* ------Functional colors------ */

  /*
  ====================================
    PRIMARY - CTA ACTIONS (neutral by design) - dark
  ==================================== 
  */
  /* SOLID/FILLED variant */
  --primary: oklch(90% 0 0);
  /* --primary: oklch(94% 0 0); */
  --primary-foreground: oklch(20% 0 0);
  --primary-hover: oklch(83% 0 0);
  /* --primary-hover: oklch(87% 0 0); */
  /* SUBTLE/SURFACE variant */
  --primary-soft: oklch(30% 0 0);
  --primary-soft-foreground: oklch(94% 0 0);
  --primary-soft-hover: oklch(32% 0 0);
  /* STANDALONE TEXT/LINKS */
  --primary-text: oklch(94% 0 0);
  --primary-text-hover: oklch(87% 0 0);

  /*
  ====================================
    BRAND – IDENTITY & AFFORDANCE (not CTAs) - dark
  ==================================== 
  */
  /* SOLID/FILLED variant */
  --brand: oklch(53% 0.17 282.84);
  --brand-hover: oklch(58% 0.18 282.84);
  --brand-foreground: oklch(98% 0.01 282.84);

  /* SOFT variant - BRIGHTER */
  --brand-soft: oklch(40% 0.1 282.84);
  --brand-soft-hover: oklch(46% 0.11 282.84);
  --brand-soft-foreground: oklch(88% 0.11 282.84);

  /* STANDALONE TEXT/LINKS */
  --brand-text: oklch(68% 0.155 282.84);
  --brand-text-hover: oklch(78% 0.165 282.84);

  /*
  ====================================
    INFO - INFORMATIONAL MESSAGES - dark
  ==================================== 
  */
  /* SOLID/FILLED variant */
  --info: oklch(45% 0.15 250);
  --info-hover: oklch(55% 0.16 250);
  --info-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --info-soft: oklch(30% 0.06 250);
  --info-soft-hover: oklch(35% 0.08 250);
  --info-soft-foreground: oklch(75% 0.12 250);
  /* STANDALONE TEXT/LINKS */
  --info-text: oklch(70% 0.14 250);
  --info-text-hover: oklch(75% 0.15 250);

  /*
  ====================================
    SUCCESS - POSITIVE MESSAGES - dark
  ==================================== 
  /* SOLID/FILLED variant */
  --success: oklch(45% 0.15 145);
  --success-hover: oklch(55% 0.16 145);
  --success-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --success-soft: oklch(30% 0.06 145);
  --success-soft-hover: oklch(35% 0.08 145);
  --success-soft-foreground: oklch(75% 0.12 145);
  /* STANDALONE TEXT/LINKS */
  --success-text: oklch(70% 0.14 145);
  --success-text-hover: oklch(75% 0.15 145);

  /*
  ====================================
    WARNING - CAUTIONARY MESSAGES - dark
  ==================================== 
  /* SOLID/FILLED variant */
  --warning: oklch(45% 0.15 85);
  --warning-hover: oklch(55% 0.16 85);
  --warning-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --warning-soft: oklch(30% 0.06 85);
  --warning-soft-hover: oklch(35% 0.08 85);
  --warning-soft-foreground: oklch(80% 0.12 85);
  /* STANDALONE TEXT/LINKS */
  --warning-text: oklch(75% 0.14 85);
  --warning-text-hover: oklch(80% 0.15 85);

  /*
  ====================================
    DESTRUCTIVE - NEGATIVE MESSAGES - dark
  ==================================== 
  /* SOLID/FILLED variant */
  --destructive: oklch(45% 0.15 25);
  --destructive-hover: oklch(55% 0.16 25);
  --destructive-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --destructive-soft: oklch(38% 0.09 25);
  --destructive-soft-hover: oklch(42% 0.11 25);
  --destructive-soft-foreground: oklch(98% 0.12 25);
  /* STANDALONE TEXT/LINKS */
  --destructive-text: oklch(60% 0.16 25);
  --destructive-text-hover: oklch(65% 0.17 25);

  /*
  ====================================
    PURPLE - dark
  ==================================== 
  /* SOLID/FILLED variant */
  --purple: oklch(45% 0.15 290);
  --purple-hover: oklch(55% 0.16 290);
  --purple-foreground: oklch(98% 0 0);
  /* SOFT variant - BRIGHTER */
  --purple-soft: oklch(30% 0.06 290);
  --purple-soft-hover: oklch(35% 0.08 290);
  --purple-soft-foreground: oklch(80% 0.12 290);
  /* STANDALONE TEXT/LINKS */
  --purple-text: oklch(75% 0.14 290);
  --purple-text-hover: oklch(80% 0.15 290);

  /* Overlay */
  --overlay: oklch(0% 0 0 / 0.95);
}
